*{
    margin: 0;
    padding: 0;
}

#d1{
    position: absolute;
    width: 150;
    height: 150;
    top: 0px;
    z-index: 1;
}

#d2{
    position: absolute;
    width: 300;
    height: 300;
    top: 0px;
    z-index: 0;
}

#d3{
    position: absolute;
    width: 450;
    height: 450;
    top: 0px;
    z-index: -1;
}